<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
<<<<<<< HEAD
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Accueil", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-header">
                @Html.ActionLink("A propos", "AboutUs", "Home")
            </div>
            <div class="navbar-header">
                @Html.ActionLink("Inscription", "Register", "Home")
            </div>
            <div class="navbar-header">
                @Html.ActionLink("Login", "Login", "Home")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>@DateTime.Now.Year - Application Note</p>
        </footer>
    </div>

=======
    @Html.Partial("NavbarChoice")

    <div class="container body-content">
        @RenderBody()

        @Html.Partial("Footer")
    </div>

>>>>>>> 0ff6f228f7a57b010da1850c3f2a74b73bcc65ff
</body>
</html>
