@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        if (HttpContextAccessor.HttpContext.Session.GetString("AccessToken") != null)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        @Html.ActionLink("Accueil", "Index", "Home", new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Ajout de Synthese", "AddFile", "User")</li>
                            <li>@Html.ActionLink("Recherche Note", "ResearchCourse", "User")</li>
                            <li>@Html.ActionLink("Recherche Personne", "ResearchUser", "User")</li>
                            <li>@Html.ActionLink("Mon Profil", "MyProfile", "User")</li>
                            <li>@Html.ActionLink("A Propos", "AboutUs", "Home")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Deconnexion", "Disconnect", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        @Html.ActionLink("Accueil", "Index", "Home", new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-header">
                        @Html.ActionLink("A propos", "AboutUs", "Home")
                    </div>
                    <div class="navbar-header">
                        @Html.ActionLink("Inscription", "Register", "Home")
                    </div>
                    <div class="navbar-header">
                        @Html.ActionLink("Login", "Login", "Home")
                    </div>
                </div>
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>@DateTime.Now.Year - Application Note</p>
        </footer>
    </div>
</body>
</html>
