<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Accueil", "Index", "Home", new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Recherche Note", "ResearchCourse", "User")</li>
                <li>@Html.ActionLink("Recherche Personne", "ResearchUser", "User")</li>
                <li>@Html.ActionLink("Mon Profil", "MyProfile", "User")</li>
                <li>@Html.ActionLink("A Propos", "AboutUs", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Deconnexion", "Disconnect", "Account")</li>
            </ul>
        </div>
    </div>
</div>