@model SharedCode.User
@{
    ViewBag.Title = "Connexion";
}

<div class="container">
    <h2>Connexion</h2>
<<<<<<< HEAD
    @using (Html.BeginForm("LoginConf", "Home"))
=======
    @using (Html.BeginForm("LoginConf", "Account"))
>>>>>>> 0ff6f228f7a57b010da1850c3f2a74b73bcc65ff
    {
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>@Html.TextBoxFor(model => model.Email)</td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Se Connecter" /></td>
            </tr>
        </table>
    }
    <div>@ViewBag.Message</div>
</div>