@model SharedCode.User
@{
    ViewBag.Title = "Inscription";
}

<div class="container">
    <h2>Inscription</h2>

    @using (Html.BeginForm("RegisterConfAsync", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname)
            @Html.TextBoxFor(model => model.Firstname)
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            <input type="submit" value="Creer un compte" />
        </div>
    }

    <div>@ViewBag.Message</div>
</div>