@using SharedCode
@{
    ViewBag.Title = "Show files";
    List<File> files = ViewBag.files;
}
<h2>Consultation de la synthese</h2>
@ViewBag.message
<table class="table">
    <tbody>
        @foreach (File f in files)
        {
        <tr>
            <td>Nom : @f.Name</td>
            <td>Auteur : @f.Creator.Email</td>
            <td>Date Creation : @f.CreatedAt</td>
            <td>@Html.ActionLink("Trust", "AddTrust", "File", new { idFile = f.Id })</td>
            <td>@f.Body</td>
            <td>@Html.ActionLink("Show file", "ShowFile","File", new { id = f.Id })</td>

        </tr>
        }
    </tbody>
</table>